body{
    background: #d6d6d6;
    font-family: Arial, Helvetica, sans-serif;
}

.noticia{
    background: #f9f9f9;
    padding-left: 15px;
    padding-right: 10px;
    text-align: justify;
    line-height: 24px;
    width: 500px;
    margin: 20px;
}

.noticia h1{
    margin: 8px;
}